header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(141, 141, 141, 0.10); 
    z-index: 1000; 
    }
    
    header img {
    width: 30px;
    }
    
    header button {
    background-color: #B67D43;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-right: 80px;
    padding: 10px 40px;
    cursor: pointer;
    }
    
        .register_form {
    
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    
        }
    
        .register_form h2 {
            color:#B67D43;
            font-size: 50px;
            font-weight : 800;
            font-family: "Playfair Display", serif;
        }
    
        .register_form h3 {
            font-family: "Playfair Display", serif;
            font-size: 15px;
            color: #B67D43;
        }
    
        .register_form p {
            font-family: "Playfair Display", serif;
            color: #646363;
        }
    
        .register_form input {
        width: 30%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        }
    
    
        .register_form p{
            font-size: 13px;
        }
    